<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Checkout example for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/form-validation.css" rel="stylesheet">
</head>

<body class="bg-light">

<div class="container">
    <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="/img/logov2rem.png" alt="">
        <h2>게시글 페이지</h2>

    </div>


    <div >
        <h4 class="mb-3">게시글</h4>
        <form>

            <div class="mb-3">
                <label for="id">글번호</label>
                <input type="text" class="form-control" id="id" value="{{post.id}}" readonly>

            </div>
            <div class="mb-3">
                <label for="title">제목</label>
                <input type="text" class="form-control" id="title" value="{{post.title}}" readonly>

            </div>

            <div class="mb-3">
                <label for="author">글쓴이</label>

                <textarea class="form-control" id="author" readonly>{{post.author}}</textarea>
            </div>

            <div class="mb-3">
                <label for = "content">내용</label>

                <textarea class="form-control" id="content" readonly>{{post.content}}</textarea>
            </div>


            <hr class="mb-4">

        </form>


        <a href="/board" role="button" class="btn btn btn-primary btn-lg btn-block">뒤로가기</a>
    </div>
</div>

<footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2021-2022 (주)secom dalcom</p>

</footer>
</div>



{{>layout/footer}}
